<div *ngIf="appointment">
	<h1 *ngIf="appointment.id == ''">Nuovo appuntamento</h1>
	<h1 *ngIf="appointment.id != ''">Modifica appuntamento</h1>

	<form (ngSubmit)="submit()" #ngForm="ngForm">
		<div class="form-group row">
			<!-- Who -->
			<div class="form-group col-xs-6">
				<label for="who">Cliente</label>
				<input type="text" class="form-control"
							id="who" name="who"
							required
							[(ngModel)]="appointment.who">
			</div>

			<!-- Status -->
			<div class="form-group col-xs-6 status">
				<label for="status">Stato del lavoro</label>
				<div class="btn-group" role="group" aria-label="Basic example">
					<button type="button" class="btn btn-secondary" title="Da fare"
									(click)="setStatus('todo')"
									[class.active]="appointment.status == 'todo'"><i class="ion-android-time"></i></button>
					<button type="button" class="btn btn-secondary" title="In corso"
									(click)="setStatus('doing')"
									[class.active]="appointment.status == 'doing'"><i class="ion-android-walk"></i></button>
					<button type="button" class="btn btn-secondary" title="Finito"
									(click)="setStatus('done')"
									[class.active]="appointment.status == 'done'"><i class="ion-android-done"></i></button>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<!-- Email -->
			<div class="col-xs-6">
				<label for="email">Email</label>
				<input type="text" class="form-control"
							 id="email" name="email"
							 required
							 [(ngModel)]="appointment.email">
			</div>
			<!-- Telephone -->
			<div class="col-xs-6">
				<label for="telephone">Telefono</label>
				<input type="text" class="form-control"
							 id="telephone" name="telephone"
							 [(ngModel)]="appointment.telephone">
			</div>
		</div>

		<div class="form-group row">
			<!-- Send Email -->
			<div class="col-xs-6">
				<div class="form-check">
					<label for="send_email" class="form-check-label">
						<input class="form-check-input" type="checkbox"
									 id="send_email" name="send_email"
									 [(ngModel)]="appointment.send_email"> Manda email
					</label>
				</div>
			</div>
			<!-- Send sms -->
			<div class="col-xs-6">
				<div class="form-check">
					<label for="send_sms" class="form-check-label">
						<input class="form-check-input" type="checkbox"
									 id="send_sms" name="send_sms"
									 [(ngModel)]="appointment.send_sms"> Manda sms
					</label>
				</div>
			</div>
		</div>

		<!-- What -->
		<div class="form-group">
			<label for="what">Operazione prenotata</label>
			<input type="text" class="form-control"
						 id="what" name="what"
						 required
						 [(ngModel)]="appointment.what">
		</div>

		<div class="form-group row">
			<!-- When -->
			<div class="form-group col-xs-6">
				<label for="when">Data e ora</label><br>
				<input ng2-datetime-picker class="form-control"
							id="when"	name="when"
							required
							[(ngModel)]="appointment.when">
			</div>
			<!-- Where -->
			  <div class="form-group col-xs-6">
					<label for="where">Luogo</label>
					<select class="form-control"
								  id="where" name="where"
									[(ngModel)]="appointment.where">
						<option value="budrio">Budrio</option>
						<option value="medicina">Medicina</option>
					</select>
				</div>
		</div>

		<!-- Notes -->
		<div class="form-group">
			<label for="notes">Note INTERNE</label>
			<textarea type="text" class="form-control" rows="5"
								id="notes" name="notes"
								[(ngModel)]="appointment.notes"></textarea>
		</div>

		<!-- Buttons -->
		<div class="form-group row">
			<div class="col-xs-6">
				<button class="btn btn-danger">Cancella</button>
			</div>
			<div class="col-xs-6 pull-right">
				<button class="btn btn-primary" [disabled]="!ngForm.form.valid">Crea</button>
			</div>
		</div>

	</form>
</div>
