<div *ngIf="appointment">
	<h1 *ngIf="appointment.id == ''">Nuovo appuntamento</h1>
	<h1 *ngIf="appointment.id != ''">Modifica appuntamento</h1>

	<form>
		<!-- Who -->
		<div class="form-group">
			<label for="who">Cliente</label>
			<input type="text" class="form-control" 
						 id="who" name="who"
						 [(ngModel)]="appointment.who">
		</div>
		
		<div class="form-group row">
			<!-- Email -->
			<div class="col-xs-6">
				<label for="email">Email</label>
				<input type="text" class="form-control" 
							 id="email" name="email"
							 [(ngModel)]="appointment.email">
			</div>
			<!-- Telephone -->
			<div class="col-xs-6">
				<label for="telephone">Telefono</label>
				<input type="text" class="form-control" 
							 id="telephone" name="telephone"
							 [(ngModel)]="appointment.telephone">
			</div>
		</div>

		<div class="form-group row">
			<!-- Send Email -->
			<div class="col-xs-6">
				<div class="form-check">
					<label for="send_email" class="form-check-label">
						<input class="form-check-input" type="checkbox" 
									 id="send_email" name="send_email"
									 [(ngModel)]="appointment.send_email"> Manda email
					</label>
				</div>
			</div>
			<!-- Send sms -->
			<div class="col-xs-6">
				<div class="form-check">
					<label for="send_sms" class="form-check-label">
						<input class="form-check-input" type="checkbox" 
									 id="send_sms" name="send_sms"
									 [(ngModel)]="send_sms"> Manda sms
					</label>
				</div>
			</div>
		</div>

		<!-- What -->
		<div class="form-group">
			<label for="what">Operazione prenotata</label>
			<input type="text" class="form-control" 
						 id="what" name="what"
						 [(ngModel)]="what">
		</div>

		<div class="form-group row">
			<!-- When -->
			<div class="form-group col-xs-6">
				<label for="when">Data e ora</label><br>
				<input ng2-datetime-picker class="form-control"
							id="when"	name="when" 
							[(ngModel)]="appointment.when">
			</div>
			<!-- Where -->
			  <div class="form-group col-xs-6">
					<label for="where">Luogo</label>
					<select class="form-control" 
								  id="where" name="where"
									[(ngModel)]="appointment.where">
						<option>Budrio</option>
						<option>Medicina</option>
					</select>
				</div>
		</div>

		<!-- Notes -->
		<div class="form-group">
			<label for="notes">Note INTERNE</label>
			<textarea type="text" class="form-control" rows="5" 
								id="notes" name="notes"
								[(ngModel)]="appointment.notes"></textarea>
		</div>

		<!-- Buttons -->
		<div class="form-group row">
			<div class="col-xs-6">
				<button class="btn btn-danger">Cancella</button>
			</div>
			<div class="col-xs-6 pull-right">
				<button (click)="submit()" class="btn btn-primary">Crea</button>
			</div>
		</div>

	</form>
</div>
