<div class="logo">
    <img src="/images/logo.jpg">
</div>
<nav class="navbar navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand" href="#">Marabooking</a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/calendar/budrio" routerLinkActive="active">Budrio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/calendar/medicina" routerLinkActive="active">Medicina</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/appointment/new" routerLinkActive="active">Nuovo appuntamento</a>
            </li>
        </ul>
    </div>
</nav>