<div class="row">
  <div class="col-xs-6">
    <h1>{{where | capitalize}} / {{month | capitalize}}</h1>
  </div>
  <div class="col-xs-6 pull-right">
    <div class="btn-group" role="group" aria-label="Basic example">
      <a [routerLink]="['/calendar', where, prevWeek]" role="button" class="btn btn-secondary">&lt; &lt;</a>
      <a [routerLink]="['/calendar', where]" role="button" class="btn btn-secondary">Oggi</a>
      <a [routerLink]="['/calendar', where, nextWeek]" role="button" class="btn btn-secondary">&gt; &gt;</a>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Orario</th>
      <th *ngFor="let day of week"
          [class.today]="day.date==today">
        {{day.name}} - {{day.date}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let times of calendar; let i = index;">
      <th scope="row">{{hours[i]}}</th>
      <td *ngFor="let slot of times"
          [class.today]="slot.date==today">
        <div *ngFor="let appointment of slot.appointments">
          <!-- Will flash once when it's the last updated -->
          <a [routerLink]="['/appointment', appointment.id]"
             [cc-flasher]="appointment.id == lastUpdated"
              class="appointment btn btn-sm btn-outline-primary">
            <!-- Status icons -->
            <i class="ion-android-time" *ngIf="appointment.status == 'todo'"></i>
            <i class="ion-android-walk" *ngIf="appointment.status == 'doing'"></i>
            <i class="ion-android-done" *ngIf="appointment.status == 'done'"></i>
             {{appointment.who}}</a>
        </div>
        <div>
          <a [routerLink]="['/appointment', 'new', {where: where, when: slot.time}]" href="#" role="button" class="btn btn-sm btn-secondary add">Aggiungi</a>
        </div>
        </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Orario</th>
      <th *ngFor="let day of week"
          [class.today]="day.date==today">
        {{day.name}} - {{day.date}}</th>
    </tr>
  </tfoot>
</table>