<table class="table table-bordered">
  <thead>
    <tr>
      <th>Orario</th>
        <th *ngFor="let day of week"
            [class.today]="day.date==today"
            [class.yesterday]="day.date==yesterday">
          {{day.name}} - {{day.date}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let time of calendar; let i = index;">
      <th scope="row">{{hours[i]}}</th>
      <td *ngFor="let day of time"
          [class.today]="day.date==today"
          [class.yesterday]="day.date==yesterday">
        <div *ngFor="let appointment of day">
          {{appointment.who}}
        </div>
        <div>
          <button class="btn btn-sm btn-default add">Aggiungi</button>
        </div>
        </td>
    </tr>
  </tbody>
</table>